// colors
$clr-primary-1: hsl(12, 88%, 59%);
$clr-primary-2: hsl(228, 39%, 23%);
$clr-neutral-1: hsl(0, 0%, 98%);
$clr-neutral-2: hsl(13, 100%, 96%);
$clr-neutral-3: hsl(227, 12%, 61%);
$clr-neutral-4: hsl(233, 12%, 13%);

// fonts
$ff-body: "Be Vietnam Pro", sans-serif;
$ff-headline: "Be Vietnam Pro", sans-serif;
$fs-sm: 0.875rem;
$fs-base: 1rem;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
// spaces
$pd-inline-section: 6.4vw;
$gap-inline-section: 2rem;
