@use "../base/vars" as var;
@use "../base/mixins" as mix;

.header {
  padding-inline: var.$pd-inline-section;
  &-menu {
    @include mix.flex(row, center, center);
    &__open,
    &__close {
      pointer-events: none;
    }
    &__close {
      position: absolute;
      opacity: 0;
    }
    &.is-active {
      .header-menu__open {
        opacity: 0;
      }
      .header-menu__close {
        opacity: 1;
      }
    }
  }

  &-nav {
    @include mix.flex(row, center, space-between);
    padding-block: 2rem;
    position: relative;
    z-index: 100;

    &__list {
      @include mix.flex(column, center, initial);
      padding-block: 2rem;
      border-radius: 0.25rem;
      pointer-events: none;
      row-gap: 1.5rem;
      position: absolute;
      top: 100%;
      inset-inline: 0;
      opacity: 0;
      background-color: white;
      &.is-active {
        pointer-events: visible;
        opacity: 1;
      }
    }
    &__link {
      font-weight: var.$fw-bold;
      color: var.$clr-primary-2;
      &:hover {
        color: var.$clr-neutral-3;
      }
    }
  }

  &__overlay {
    pointer-events: none;
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    opacity: 0;
    background: linear-gradient(
      to top,
      var.$clr-neutral-4,
      rgba(255, 255, 255, 0)
    );
    &.is-active {
      opacity: 0.6;
    }
  }

  // breakpoints
  @media (min-width: 1024px) {
    &-menu {
      display: none;
    }
    &-nav {
      padding-block: 3rem;
      &__list {
        padding: 0;
        pointer-events: visible;
        flex-direction: row;
        column-gap: 2rem;
        opacity: 1;
        position: relative;
      }
      &__link {
        font-weight: var.$fw-medium;
      }
    }
  }
}
